/* . is for class */
/* # is for id */

button {
  color: red;
}

.App {
  text-align: center;
}

input {
  height: 20px;
  width: 400px;
  border-radius: 30px;
}

.delete {
  padding-left: 20px;
}

.banner {
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: peru;
}
