/* . is for class */
/* # is for id */
* {
  background-color: rgb(156, 160, 165);
}

button {
  color: black;
  /* height: 30px;
  width: 40px; */
}

.App {
  text-align: center;
}

input {
  height: 30px;
  width: 600px;
  border-radius: 10px;
}

.delete {
  padding-left: 20px;
}

.banner {
  display: block;
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  color: peru;
}

.checkbox {
  display: flex;
}
